.u-section-1 .u-sheet-1 {
  min-height: 133px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 1px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 4235px;
}

.u-section-2 .u-group-1 {
  --radius: 30px;
  width: 1032px;
  min-height: 460px;
  height: auto;
  margin: 27px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-image-1 {
  width: 376px;
  height: 376px;
  margin: 9px auto 0 59px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: -356px 140px 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 47px 42px 0 475px;
}

.u-section-2 .u-group-2 {
  --radius: 30px;
  width: 1032px;
  min-height: 479px;
  height: auto;
  margin: 54px auto 0 54px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-image-2 {
  width: 376px;
  height: 376px;
  margin: 9px auto 0 59px;
}

.u-section-2 .u-text-3 {
  font-size: 3rem;
  margin: -352px 114px 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.875rem;
  margin: 42px 46px 0 523px;
}

.u-section-2 .u-group-3 {
  --radius: 30px;
  width: 1032px;
  min-height: 445px;
  height: auto;
  margin: 59px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  width: 376px;
  height: 376px;
  margin: 39px auto 0 59px;
}

.u-section-2 .u-text-5 {
  font-size: 3rem;
  margin: -352px 77px 0 auto;
}

.u-section-2 .u-text-6 {
  font-size: 1.875rem;
  margin: 59px 20px 0 490px;
}

.u-section-2 .u-group-4 {
  --radius: 30px;
  width: 1032px;
  min-height: 476px;
  height: auto;
  margin: 59px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-4 {
  width: 376px;
  height: 376px;
  object-position: 50% 19.26%;
  margin: 39px auto 0 59px;
}

.u-section-2 .u-text-7 {
  font-size: 3rem;
  margin: -367px 129px 0 auto;
}

.u-section-2 .u-text-8 {
  font-size: 1.875rem;
  margin: 54px 35px 0 498px;
}

.u-section-2 .u-group-5 {
  --radius: 30px;
  width: 1032px;
  min-height: 478px;
  height: auto;
  margin: 46px auto 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-image-5 {
  width: 376px;
  height: 376px;
  object-position: 50% 19.26%;
  margin: 39px auto 0 59px;
}

.u-section-2 .u-text-9 {
  font-size: 3rem;
  margin: -351px 97px 0 auto;
}

.u-section-2 .u-text-10 {
  font-size: 1.875rem;
  margin: 55px 63px 0 473px;
}

.u-section-2 .u-group-6 {
  --radius: 30px;
  width: 1032px;
  min-height: 481px;
  height: auto;
  margin: 55px auto 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-image-6 {
  width: 376px;
  height: 376px;
  object-position: 50% 100%;
  margin: 39px auto 0 59px;
}

.u-section-2 .u-text-11 {
  font-size: 3rem;
  margin: -345px 152px 0 auto;
}

.u-section-2 .u-text-12 {
  font-size: 1.875rem;
  margin: 55px 22px 0 490px;
}

.u-section-2 .u-group-7 {
  --radius: 30px;
  width: 1032px;
  min-height: 468px;
  height: auto;
  margin: 55px auto 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-image-7 {
  width: 376px;
  height: 376px;
  object-position: 50% 100%;
  margin: 39px auto 0 59px;
}

.u-section-2 .u-text-13 {
  font-size: 3rem;
  margin: -357px 155px 0 auto;
}

.u-section-2 .u-text-14 {
  font-size: 1.875rem;
  margin: 58px 15px 0 470px;
}

.u-section-2 .u-group-8 {
  --radius: 30px;
  width: 1032px;
  min-height: 476px;
  height: auto;
  margin: 58px auto 59px;
}

.u-section-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-2 .u-image-8 {
  width: 376px;
  height: 376px;
  object-position: 50% 100%;
  margin: 39px auto 0 59px;
}

.u-section-2 .u-text-15 {
  font-size: 3rem;
  margin: -347px 202px 0 auto;
}

.u-section-2 .u-text-16 {
  font-size: 1.875rem;
  margin: 33px 51px 0 474px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 4671px;
  }

  .u-section-2 .u-group-1 {
    width: 940px;
    min-height: 736px;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 27px;
  }

  .u-section-2 .u-image-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 37px;
    margin-right: 19px;
    margin-left: 66px;
  }

  .u-section-2 .u-group-2 {
    width: 940px;
    margin-left: 0;
    height: auto;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 476px;
  }

  .u-section-2 .u-group-3 {
    width: 940px;
    height: auto;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: 19px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 61px;
    margin-right: 10px;
    margin-left: 447px;
  }

  .u-section-2 .u-group-4 {
    width: 940px;
    height: auto;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 59px;
    margin-right: -8px;
    margin-left: 449px;
  }

  .u-section-2 .u-group-5 {
    margin-top: 95px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: -350px;
    margin-right: 50px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 61px;
    margin-right: 37px;
    margin-left: 449px;
  }

  .u-section-2 .u-group-6 {
    margin-top: 95px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-right: 9px;
    margin-left: 468px;
  }

  .u-section-2 .u-group-7 {
    margin-top: 95px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-right: 0;
    margin-left: 441px;
  }

  .u-section-2 .u-group-8 {
    margin-top: 95px;
    margin-bottom: 53px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-2 .u-text-16 {
    width: auto;
    margin-top: 37px;
    margin-right: -11px;
    margin-left: 444px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 4734px;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 27px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 12px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 17px;
    margin-right: 185px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 40px;
  }

  .u-section-2 .u-group-2 {
    width: 720px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 12px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-right: 172px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 53px;
    margin-right: 103px;
    margin-left: 154px;
  }

  .u-section-2 .u-group-3 {
    min-height: 458px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-3 {
    width: 267px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -327px;
    margin-right: 48px;
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-6 {
    margin-top: 83px;
    margin-right: 27px;
    margin-left: 360px;
    font-size: 1.5rem;
  }

  .u-section-2 .u-group-4 {
    width: 720px;
    margin-top: 46px;
  }

  .u-section-2 .u-image-4 {
    width: 255px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -352px;
    margin-right: 97px;
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-8 {
    margin-top: 83px;
    margin-right: 20px;
    margin-left: 334px;
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-5 {
    width: 257px;
  }

  .u-section-2 .u-text-9 {
    margin-top: -326px;
    margin-right: 78px;
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-10 {
    margin-top: 59px;
    margin-right: 17px;
    margin-left: 334px;
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-6 {
    width: 265px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: -328px;
    margin-right: 116px;
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-12 {
    margin-top: 63px;
    margin-right: 8px;
    margin-left: 336px;
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-7 {
    width: 269px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: -333px;
    margin-right: 95px;
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-14 {
    margin-top: 47px;
    margin-right: 12px;
    margin-left: 350px;
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-8 {
    width: 259px;
  }

  .u-section-2 .u-text-15 {
    margin-top: -356px;
    margin-right: 160px;
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-16 {
    margin-top: 66px;
    margin-right: 9px;
    margin-left: 336px;
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 139px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 24px;
  }

  .u-section-2 .u-group-2 {
    width: 540px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 13px;
    margin-left: 64px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 207px;
  }

  .u-section-2 .u-group-4 {
    width: 540px;
  }

  .u-section-2 .u-text-8 {
    margin-right: -8px;
    margin-left: 174px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
    margin-left: 171px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
    margin-left: 164px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 0;
    margin-left: 182px;
  }

  .u-section-2 .u-text-16 {
    margin-right: -11px;
    margin-left: 165px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 5699px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    min-height: 842px;
  }

  .u-section-2 .u-image-1 {
    height: 340px;
    width: 300px;
    margin-top: 15px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 37px;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 72px;
    margin-right: 37px;
    margin-left: 20px;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
    min-height: 741px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .u-section-2 .u-image-2 {
    width: 310px;
    height: 340px;
    margin-top: 10px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
    margin-top: 21px;
    margin-right: -9px;
    margin-left: 21px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
    margin-top: 48px;
    margin-right: 8px;
    margin-left: 12px;
  }

  .u-section-2 .u-group-3 {
    margin-top: 72px;
    min-height: 645px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-3 {
    width: 250px;
    height: 235px;
    margin-top: 27px;
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 45px;
    margin-left: 12px;
  }

  .u-section-2 .u-group-4 {
    margin-top: 37px;
    min-height: 538px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-4 {
    width: 250px;
    height: 235px;
    margin-top: 23px;
    margin-left: 37px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 56px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 20px;
    margin-right: -11px;
    margin-left: 11px;
  }

  .u-section-2 .u-group-5 {
    margin-top: 45px;
    min-height: 591px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-5 {
    width: 250px;
    height: 235px;
    margin-top: 57px;
    margin-left: auto;
  }

  .u-section-2 .u-text-9 {
    margin-top: 40px;
    margin-right: auto;
  }

  .u-section-2 .u-text-10 {
    margin-top: 6px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-2 .u-group-6 {
    margin-top: 36px;
    min-height: 564px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-6 {
    width: 250px;
    height: 235px;
    margin-top: 25px;
    margin-left: auto;
  }

  .u-section-2 .u-text-11 {
    margin-top: 9px;
    margin-right: auto;
  }

  .u-section-2 .u-text-12 {
    margin-top: 21px;
    margin-right: -15px;
    margin-left: 15px;
  }

  .u-section-2 .u-group-7 {
    margin-top: 25px;
    min-height: 645px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-7 {
    width: 250px;
    height: 235px;
    margin-top: 57px;
    margin-left: auto;
  }

  .u-section-2 .u-text-13 {
    margin-top: 33px;
    margin-right: auto;
  }

  .u-section-2 .u-text-14 {
    margin-top: 37px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2 .u-group-8 {
    margin-top: 88px;
    margin-bottom: 60px;
    min-height: 652px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-8 {
    width: 250px;
    height: 235px;
    margin-top: 47px;
    margin-left: auto;
  }

  .u-section-2 .u-text-15 {
    width: auto;
    margin-top: 25px;
    margin-right: auto;
    margin-left: 87px;
  }

  .u-section-2 .u-text-16 {
    margin-top: 31px;
    margin-right: 15px;
    margin-left: 12px;
  }
}